{% extends "default.jinja" %}

{% block content %}

<h1>Family Recipes</h1>

<h2><a href="https://github.com/XBigTK13X/cooking-recipes/blob/master/scratch.md">Scratch Recipe Notes</a></h2>

{% for recipe in payload.recipes %}
	<a class="header-link" href="#{{recipe.slug}}">{{recipe.title}}</a></li>
{% endfor %}
<hr/>
<div class="pagebreak"> </div>

{% for recipe in payload.recipes %}
	<h2><a href="#{{recipe.slug}}" name="{{recipe.slug}}">{{recipe.title}}</a></h2>

	{% if recipe.image %}
		<img src="https://raw.githubusercontent.com/XBigTK13X/cooking-recipes/master/asset/image/recipe/{{recipe.image}}" />
	{% endif %}

	<h3>Ingredients</h3>
	<ul>
	{% for ingredient in recipe.ingredients %}
		<li>
		{{ingredient.amount}}
		{% if ingredient.unit %}
			{{ingredient.unit}}
		{% endif %}
		{% if ingredient.unitVolume %}
			({{ingredient.amountVolume}} {{ingredient.unitVolume}})
		{% endif %}
		{{ingredient.name}}
		{% if ingredient.prep %}
			({{ingredient.prep}})
		{% endif %}
		</li>
	{% endfor %}
	</ul>

	<h3>Steps</h3>
	<ol>
	{% for step in recipe.steps %}
		<li>{{step.step}}</li>
	{% endfor %}
	</ol>

	{% if recipe.subrecipes %}
	<h3> Subrecipes </h3>
	<ul>
		{% for subrecipe in recipe.subrecipes %}
			<li><a href="#{{subrecipe.slug}}">{{subrecipe.title}}</a></li>
		{% endfor %}
	</ul>
	{% endif %}

	{% if recipe.notes %}
	<h3>Notes</h3>
	<div>
	{% for note in recipe.notes %}
		<p>{{note}}</p>
	{% endfor %}
	</div>
	{% endif %}

	{% if recipe.mods %}
		<h3>Mods</h3>
		<div>
		{% for mod in recipe.mods %}
			<p>{{mod}}</p>
		{% endfor %}
		</div>
	{% endif %}

	<div class="pagebreak"> </div>
{% endfor %}

{% endblock %}
